@page "/accounting"
@using HomeBuxgalterFront.Filters;
@using HomeBuxgalterFront.Models;
@inject RequestManager _requestManager

<h3>Accounting</h3>

@if (ReportModels == null)
{
        <p><em>Loading...</em></p>
}
else
{
    <table class="chiroyli-jadval">
        <thead>
            <tr>
                <th>Date</th>
                <th>ProfitSummary</th>
                <th>OutlaySummary</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            
    @foreach (var model in ReportModels)
    {
        if (model.Balance < 0)
        {
            <tr>
                <td>@model.Date.ToString("dd.MM.yyyy")</td>
                <td>@model.ProfitSummary</td>
                <td>@model.OutlaySummary</td>
                <td class="my-td-2">@model.Balance</td>
            </tr>
        }
        else if (model.Balance > 0)
        {
            <tr>
                <td>@model.Date.ToString("dd.MM.yyyy")</td>
                <td>@model.ProfitSummary</td>
                <td>@model.OutlaySummary</td>
                <td class="my-td">@model.Balance</td>
            </tr>
        }
        else
        {
            <tr>
                <td>@model.Date.ToString("dd.MM.yyyy")</td>
                <td>@model.ProfitSummary</td>
                <td>@model.OutlaySummary</td>
                <td>@model.Balance</td>
            </tr>
        }
    
    }
        </tbody>
    </table>
}

@code {
    private List<ReportModel>? ReportModels { get; set; } = new();
    private AccountingFilter AccountingFilter = new();

    protected override async Task OnInitializedAsync()
    {
        ReportModels = await _requestManager.
            Get<List<ReportModel>>($"/api/accounting?{AccountingFilter.ToString()}");
        ReportModels = ReportModels?.OrderByDescending(r => r.Date).ToList();
    }
}
