@page "/create-profit"
@using HomeBuxgalterFront.Models.ProfitModels;
@inject NavigationManager _navigationManager
@inject HttpClient _http
@inject RequestManager _requestManager

<h3>CreateProfit</h3>
@{
    if (Message != null)
    {
        <h3>@Message</h3>
    }

}

<div>
    <form >
        <label for="Date">Choose Date</label>
        <br />
        <input type="date" @bind-value="@_createProfitModel.Date"/>
        <br />
        <label for="Amount">Enter Amount</label>
        <br />
        <input type="number" @bind-value="@_createProfitModel.Amount"/>

        <br />
        <label for="Category">Choose Category</label>
        <br />

        <select name="Category" @bind="@_createProfitModel.Category">
        @{
            if (_categories != null)
            {
                foreach (var category in _categories)
                {
                    <option value="@category.Name">@category.Name</option>
                }
            }
        }
        </select>
        <br />
        <label for="Comment">Enter Comment</label>
        <br />
        <input type="text" @bind-value="@_createProfitModel.Comment"/>
        <br />

        <button type="button" class="btn btn-primary" @onclick="Create">Create</button>
    </form>
</div>





@code {
    private readonly CreateProfitModel _createProfitModel = new();
    private List<ProfitCategory>? _categories = new();
    private string? Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _categories = await _requestManager.Get<List<ProfitCategory>>("/api/profits/categories");
    }

    public async Task Create()
    {
        var response = await _http.PostAsJsonAsync("/api/profits", _createProfitModel);
        if (response.IsSuccessStatusCode)
            _navigationManager.NavigateTo("/profits");

        //Message = await response.Content.ReadAsStringAsync();
    }

        /*
    <form>
        <label for="cars">Choose a car:</label>
        <select id="cars" name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
        <input type="submit">
    </form> */
}
