@page "/profits/create"
@inject NavigationManager _navigationManager
@inject HttpClient _http
@inject RequestManager _requestManager


<div style="text-align: right; margin-top:auto">
    <a class="btn btn-danger" href="/profits">Back</a>
</div>

<div class="d-flex justify-content-center" style="flex-wrap:wrap;">
    <div class="form-group row g-3 col-md-5" style="border-radius: 25px;
    margin-top: 1rem;
    padding: 2rem;
    box-shadow: 0 0rem 3rem rgba(8,7,16,0.6)!important;">

        <EditForm Model="@_createProfitModel" OnValidSubmit="@Create">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <h3 class="col-12" style="text-align:center">CreateProfit</h3>

            <label for="Amount">Amount</label>
            <InputNumber placeholder="Amount" class="form-control" style="" @bind-Value="@_createProfitModel.Amount" />

            <label for="Category">Category</label>
            <InputSelect class="form-control" @bind-Value="@_createProfitModel.Category">
                <option style="display:none" >Choose...</option>
            @{
                if (_categories != null)
                {
                    foreach (var category in _categories)
                    {
                        <option value="@category.Name">@category.Name</option>
                    }
                }
            }
            </InputSelect>
            <label for="Date">Date</label>
            <InputDate placeholder="Date" class="form-control" @bind-Value="@_createProfitModel.Date" />

            <label for="Comment">Comment</label>
            <InputText placeholder="Comment" class="form-control" @bind-Value="@_createProfitModel.Comment" />

            <br />
            <button type="submit" class="btn btn-primary">Create</button>
            <br /><br />
        </EditForm>
    </div>
</div>

@code {
    private readonly CreateProfitModel _createProfitModel = new();
    private List<ProfitCategory>? _categories = new();
    private string? _message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _categories = await _requestManager.Get<List<ProfitCategory>>("/api/profits/categories");
    }

    public async Task Create()
    {
        var response = await _http.PostAsJsonAsync("/api/profits", _createProfitModel);
        if (response.IsSuccessStatusCode)
            _navigationManager.NavigateTo("/profits");
            
        _message = await response.Content.ReadAsStringAsync();
    }


/*

<div>
    <form >
    <label for="Date">Choose Date</label>
    <br />
    <input type="date" @bind-value="@_createProfitModel.Date"/>
    <br />
    <label for="Amount">Enter Amount</label>
    <br />
    <input type="number" @bind-value="@_createProfitModel.Amount"/>

    <br />
    <label for="Category">Choose Category</label>
    <br />

    <select id="Category" name="Category" @bind="@_createProfitModel.Category">
        <option style="display: none">Choose...</option>
        @{
        if (_categories != null)
            {
            foreach (var category in _categories)
                {
                <option value="@category.Name">@category.Name</option>
    }
    }
    }
    </select>
    <br />
    <label for="Comment">Enter Comment</label>
    <br />
    <input type="text" @bind-value="@_createProfitModel.Comment"/>
    <br />

    <button type="button" class="btn btn-primary" @onclick="Create">Create</button>
    </form>
    </div>
*/
}
